# .gitignore --- Git untracked files -*- mode: gitignore; -*-

# codex
/.codex

# devshells
/.editorconfig
/lefthook.yml
/treefmt.toml

# direnv
/.envrc
/.direnv

# nix
/repl-result-out
/result
/result-*

# sops
/.sops.yaml

# .gitignore ends here
